# Relatório de Análises V

## Tratamento de Dados

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ";")

In [3]:
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
60,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1524,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1718,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2055,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2077,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
5060,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8779,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
9168,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9373,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [4]:
dados.dropna(subset = ['Valor'], inplace = True)

In [5]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [11]:
dados = dados[~selecao]

In [12]:
dados.fillna(0, inplace = True)

In [14]:
dados.to_csv('dados/aluguel_residencial.csv', sep = ";", index = False)